    GOOGLE_WEB_CLIENT_ID= '655639433389-0n645f6dsqtep8v43hlmcqncuhs909a7.apps.googleusercontent.com',
    IOS_CLIENT_ID= '655639433389-odnhcgul282poi9dt9gtek7gvdqn7k2i.apps.googleusercontent.com',
    FIREBASE_KEY= 'AAAAmKcn0K0:APA91bGGzpZOQax9RJLkjXf8fSTzNCV1KZfeQSTQQcMI8m0z0kOgkpsSe6PkVT3UVBk-JBmS3yx3kafxip1_oJM8XPuzGpjP1rMWnMUbDt67F2EKRBY_wvDXvkEIb7fsA3f5XySB7YCp'
    API_USERNAME='am9objpzbWl0aA=='
    API_PASSWORD='JiZAQEFBMTE6NjcmOCMh'
    API_LIVE_URL='https://api-swap.herokuapp.com' 
    API_TEST_URL='http://127.0.0.1:3000'
    API_TEST_URL_WINDOWS='http://192.168.56.1:3000'
    FCM_URL='https://fcm.googleapis.com/fcm/send'
    WEBSITE_URL='http://swap.net.tilda.ws/'