<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655639433389-of42v4igemm836e6qulk7mns8p9fl889.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655639433389-of42v4igemm836e6qulk7mns8p9fl889</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>655639433389-app89lsb80pmngl7t7nko6r4v0c1o5io.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRrmhXpjsjPbPGsxo8Q_oLMmFtXSEDWN0</string>
	<key>GCM_SENDER_ID</key>
	<string>655639433389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rookie.swap</string>
	<key>PROJECT_ID</key>
	<string>swap-eb68d</string>
	<key>STORAGE_BUCKET</key>
	<string>swap-eb68d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655639433389:ios:b5a2cc1f1c1e8893233624</string>
	<key>DATABASE_URL</key>
	<string>https://swap-eb68d.firebaseio.com</string>
</dict>
</plist>